* {
active-background: #3E5F6A;
active-foreground: #F9FAFA;
normal-background: #010102;
normal-foreground: #F9FAFA;
urgent-background: #EEEFF0;
urgent-foreground: #F9FAFA;

alternate-active-background: #5D616E;
alternate-active-foreground: #F9FAFA;
alternate-normal-background: #010102;
alternate-normal-foreground: #F9FAFA;
alternate-urgent-background: #010102;
alternate-urgent-foreground: #F9FAFA;

selected-active-background: #EEEFF0;
selected-active-foreground: #F9FAFA;
selected-normal-background: #3E5F6A;
selected-normal-foreground: #F9FAFA;
selected-urgent-background: #65B484;
selected-urgent-foreground: #F9FAFA;

background-color: #010102;
background: rgba(0,0,0,0.7);
foreground: #EEEFF0;
border-color: #65B484;
}

