* {
active-background: #374343;
active-foreground: #DEEAE8;
normal-background: #000101;
normal-foreground: #DEEAE8;
urgent-background: #C7D9D6;
urgent-foreground: #DEEAE8;

alternate-active-background: #6B8381;
alternate-active-foreground: #DEEAE8;
alternate-normal-background: #000101;
alternate-normal-foreground: #DEEAE8;
alternate-urgent-background: #000101;
alternate-urgent-foreground: #DEEAE8;

selected-active-background: #C7D9D6;
selected-active-foreground: #DEEAE8;
selected-normal-background: #374343;
selected-normal-foreground: #DEEAE8;
selected-urgent-background: #86A39F;
selected-urgent-foreground: #DEEAE8;

background-color: #000101;
background: rgba(0,0,0,0.7);
foreground: #C7D9D6;
border-color: #86A39F;
}

