* {
active-background: #2E6EAE;
active-foreground: #FAF9FF;
normal-background: #00030A;
normal-foreground: #FAF9FF;
urgent-background: #F0EEF6;
urgent-foreground: #FAF9FF;

alternate-active-background: #775F8C;
alternate-active-foreground: #FAF9FF;
alternate-normal-background: #00030A;
alternate-normal-foreground: #FAF9FF;
alternate-urgent-background: #00030A;
alternate-urgent-foreground: #FAF9FF;

selected-active-background: #F0EEF6;
selected-active-foreground: #FAF9FF;
selected-normal-background: #2E6EAE;
selected-normal-foreground: #FAF9FF;
selected-urgent-background: #7296D4;
selected-urgent-foreground: #FAF9FF;

background-color: #00030A;
background: rgba(0,0,0,0.7);
foreground: #F0EEF6;
border-color: #7296D4;
}

