
/* Rose Pine */

@import '../../.cache/wal/colors-waybar.css';

@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-bg #26233a;
/* @define-color main-fg #ebbcba; */
@define-color main-fg @color7; /* 6 7 13 3 11*/
@define-color wb-act-bg #31748f;
@define-color wb-act-fg #9ccfd8;
@define-color wb-hvr-bg #eb6f92;
@define-color wb-hvr-fg #f6c177;

* {
	font-family: "JetBrainsMono Nerd Font"; /*monospace*/
	font-weight: bold;
	min-height: 0;
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 100%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
	border-radius: 12px;
}

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 8px;
    border-width: 0px;
    border: 0.5px solid @main-fg;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: @main-fg;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: @wb-color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#cava,
#custom-mviz,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state label,
#keyboard-state label.locked,
#keyboard-state,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#mpris,
#window,
#wireplumber,
#workspaces,
#custom-pacman,
#custom-pacman2,
#custom-gpu_usage,
#custom-gpu_temp,
#custom-gpu_fan,
#custom-gpu_power,
#custom-clipboard,
#custom-backlight,
#custom-cycle_wall,
#custom-keybinds,
#custom-light_dark,
#custom-lock,
#custom-notification,
#custom-swaync,
#custom-power_outage_switch,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-speaker,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#privacy,
#custom-weather.sunnyDay {
    color: @main-fg;
    background: alpha(@main-bg, 0.7);
    opacity: 1;
	padding-top: 2px;
	padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border: 0.2px solid @main-fg;
}


#network {
    min-width: 200px;
}

#cpu,
#custom-gpu_usage {
    min-width: 40px;
}

#temperature.critical {
  background-color: @red;
}

#group-motherboard,
#group-laptop,
#group-audio {
    color: @main-fg;
    background-color: @main-bg;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
}
